@import "./reset";
@import "./variables";

@function weight($weight-name) {
  @return map-get($base-font-weights, $weight-name);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

// Base styling for the whole page
body {
  @include flexCenter;
  background-color: $light-grayish-blue;
  min-height: 100vh;
  font-family: $base-font-families;
}

// Styling for the main container that wraps all sections
.main-container {
  padding: 1.5rem;
  margin: 2rem 0;
}

.section-container {
  display: grid;
  grid-template-areas:
    "daniel"
    "jonathan"
    "jeanette"
    "patrick"
    "kira";
  gap: 1.5rem;

  @include tablet {
    max-width: 60rem;
  }

  @include desktop {
    max-width: 65rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
  }

  // Styling specific to section-card
  .section-card {
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 0.9rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); // Soft shadows under the card
    transition: transform 0.3s ease-in-out; // Smooth transition when card is hovered over

    // Hover effect for section-card, adds a little movement
    &:hover {
      transform: translateY(-5px); // Lifting the card slightly upwards
    }

    // Styling for the user-section, which contains the user's photo and name
    .user-section {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      img {
        border: 0.1rem solid $custom-white;
        border-radius: 2rem;
        width: 2.5rem;
      }

      // Styling for hgroup, which contains the name and status of the user
      .names-status {
        font-size: 0.7rem;

        h1 {
          font-weight: weight(semi-bold);
        }

        p {
          opacity: 0.5;
        }
      }
    }

    p {
      opacity: 0.7;
    }
  }

  #purple {
    grid-area: daniel;
    background-color: $moderate-violet;
    color: $custom-white;
    position: relative;

    .user-section,
    h2,
    p {
      position: relative;
    }

    // Styling for the quotation image in the ‘purple’ section
    #quotation {
      width: 7rem;
      position: absolute;
      top: 0.5rem;
      right: 1rem;
    }
  }

  #gray {
    grid-area: jonathan;
    background-color: $very-dark-grayish-blue;
    color: $custom-white;
  }

  #white {
    grid-area: jeanette;
    background-color: $custom-white;
    color: $very-dark-grayish-blue;
  }

  #dark-blue {
    grid-area: patrick;
    background-color: $very-dark-blackish-blue;
    color: $custom-white;
  }

  #white-2 {
    grid-area: kira;
    background-color: $custom-white;
    color: $very-dark-grayish-blue;
  }
}

.attribution {
  font-size: 0.8rem;
  text-align: center;

  @include desktop {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  a {
    color: hsl(228, 45%, 44%);
  }
}
